<p class="component">Hola mi hermosa ciudad {{ city }} {{ 1 + 1 }}</p>
<router-outlet></router-outlet>
<app-usuario> </app-usuario>

<div>
  <h1>Aplicación de Ejemplo</h1>
  @if (!isAuthenticated) {
    <button (click)="login()">Iniciar Sesión</button>
  }
  @if (isAuthenticated) {
    <button (click)="logout()">Cerrar Sesión</button>
  }
  @if (isAuthenticated) {
    <div>
      <p>Bienvenido, usuario autenticado.</p>
    </div>
  }
</div>

<!-- Ejemplo bucle for -->
<ul>
@for (os of operatingSystems; track os.id) {
 <li>{{ os.name }}</li>
 }
</ul>


<!-- Property Binding in Angular -->


<div class="editable-div" [contentEditable]="isEditable"></div>

<!--Event handling  -->

<button (click)="greet()">Hola</button>

<div>
  <section (mouseover)="onMouseOver()">{{message}}</section>
</div>